
///////////////////////////////////////////////////////ARTICLE//////////////////////////////////////////////////////////////////////////

.caption-font{
  font-family: "open_sans", sans-serif;
  text-decoration: none;
  color: $white;
  line-height: 150%;
}

.article {
  display: flex;
  height: 50vh;
  background-size: cover;
  background-position: 50%;
}

.abstract {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  p {
    box-sizing: border-box;
    transform: translateY(100%);
    background: rgba(0,0,0,0.5);
  }
  &:hover {
    p {
      transform: translateY(0%);
    }
  }

}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include tablet {
    li {
      max-width: 50%;
    }
  }
  @include desktop {
    li {
      max-width: 25%;
    }
  }
}
